<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts feed home</title>
    <%- include("../partials/head") %>
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <div class="container mt-4">
            <%- include("../partials/posts", {posts}) %>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>