.flex-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.flex-item {
    flex-grow: 1;
    text-align: center;
    background-color: lightskyblue;
    padding: 5px;
    color:white;
}

.middle,
.bottom {
    flex-grow:2;
}

.top {
    background-color:rgb(188, 125, 233)
}

.bottom {
    background-color: lightpink;
}